{% extends 'sample.html'%}
{% load static %}

{% block  title %} 
Confirmation
{% endblock %}

{% block content %}
<h1 style="font-weight: bolder; text-align: center; height: 100px;" >Booking Status</h1>


<div style="width: 100%; height: max-content; ">
    <div style="width: 70%; height: auto; background-color: aqua ; color: aliceblue; margin: auto;">
        <h2 style="text-align: center; padding: auto;">
            Booking Conformed ,our representative will contact you soon
        </h2>
    </div>
</div>

{% endblock %}